:root {
    --blue: #172b99;
    --light-blue: #2892d7;
    --red: #d62839;
    --green: #7fd1b9;
    --white: #fdf7fa;
    --black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    min-height: 100vh;
    background-color: rgba(252,247,250,.25);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--white);
}

header img {
    width: 50px;
}

nav {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width: min-content;
}

header .section {
    color: var(--black);
    text-align: center;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#selected {
    font-weight: 700;
}

header a:hover {
    font-weight: 700;
  }

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.categories {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.category {
    margin: 10px 0px
}

.category img {
    width: 100%;
}

footer {
    background-color: var(--white);
    text-align: center;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: var(--black);
}

@media (min-width: 480px) {
    header {
        padding: 10px 60px;
    }

    nav {
        justify-content: right;
        flex-wrap: nowrap;
    }

    header .section {
        text-align: center;
        width: min-content;
        padding: 0px 0px 0px 15px;
    }

    .categories {
        width: 90%;
        align-items: center;
        justify-content: space-around;
    }
    
    .category {
        width: 40%
    }
}

@media (min-width: 768px) {
    header {
        padding: 10px 80px;
    }

    header .section {
        padding: 0px 0px 0px 50px;
    }

    .categories {
        width: 80%;
        align-items: center;
        justify-content: space-around;
    }
    
    .category {
        width: 30%
    }
}